@import 'bootstrap-overrides.scss';

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    min-height: 100%;
    width: 75vw;
    display: flex;
    flex-direction: column;

    main {
      flex-grow: 1;
    }
  }

  a {
    color: #00adef;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      color: #ed008c;
    }
  }
}

h1 {
  padding-bottom: 1rem;
  font-size: 5rem;
}

img.report {
  width: 100%;
}

img.howWork {
  width: 75%;
  border-radius: 5px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    margin-top: -3%;
  }

  h1 {
    color: black;
  }
}

section {
  min-height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

textarea {
  width: 50%;
  height: 250px;
}

@media screen and (max-width: 992px) {
  textarea {
    width: 100%;
  }
}

section.centered {
  justify-content: center;
}

.lead {
  font-size: 5rem;
}

.footsteps-container {
  height: 0vh;
  position: fixed;
  left: 12px;
  top: 0;
  z-index: -10;
  opacity: 0.6;
  overflow: hidden;

  img {
    height: 100vh;
  }
}

textarea {
  background-image: url('/img/notes.png');
  background-size: cover;
  border: none;
  border-radius: 10px;
}

.poofWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
  }

  img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }
}
.continueMessage {
  display: none;
  opacity: 0;
}

.reframe {
  .reframeContainer {
    width: 422px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.5);
  }
}

@import '~bootstrap/scss/bootstrap';
